@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BartenderMVC</h1>
    <p class="lead">This is a sample project that displays my knowledge of using Visual Studio.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Take a Look at Our Menu!</h2>
        <p><a class="btn btn-default" href="../Drinks/Menu">Drink Menu &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Place an Order</h2>
        <p><a class="btn btn-default" href="../Orders/Create">Order Drinks &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Learn About BartenderMVC</h2>
        <p><a class="btn btn-default" href="../Home/About">Learn more &raquo;</a></p>
    </div>
</div>
